# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/  # Sanal ortam klasörü
bin/
include/
lib/
lib64/
.env   # Ortam değişkenleri dosyası
.venv/

# Django
db.sqlite3  # SQLite veritabanı dosyası
/media/     # Kullanıcı tarafından yüklenen dosyalar (örn: ürün resimleri)
/static_collected/ # collectstatic ile toplanan dosyalar
*.log       # Log dosyaları
*.pot
*.mo

# OS-specific
.DS_Store # macOS
Thumbs.db # Windows

# IDE specific
.vscode/
.idea/
*.swp