<!-- templates/core/password_reset_complete.html -->
{% extends 'base.html' %}

{% block title %}Şifre Sıfırlama Tamamlandı{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card mt-5">
            <div class="card-header text-center">
                <h3>Şifre Sıfırlama Tamamlandı</h3>
            </div>
            <div class="card-body text-center">
                <p>Şifreniz başarıyla değiştirildi. Artık yeni şifrenizle giriş yapabilirsiniz.</p>
                <a href="{% url 'login' %}" class="btn btn-primary mt-3">Giriş Yap</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}