<!-- templates/core/password_reset_done.html -->
{% extends 'base.html' %}

{% block title %}Şifre Sıfırlama Bağlantısı Gönderildi{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card mt-5">
            <div class="card-header text-center">
                <h3>Şifre Sıfırlama Bağlantısı Gönderildi</h3>
            </div>
            <div class="card-body text-center">
                <p>Şifrenizi sıfırlamak için talimatlar içeren bir e-posta gönderdik. Gelen kutunuzu kontrol edin.</p>
                <p>Eğer bir e-posta almadıysanız, spam klasörünüzü kontrol ettiğinizden emin olun ve doğru e-posta adresini girdiğinizden emin olun.</p>
                <a href="{% url 'login' %}" class="btn btn-primary mt-3">Giriş Sayfasına Dön</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}